[Unit]
Description=Simple Fileshare

[Service]
Type=simple
WorkingDirectory=/home/simple-fileshare/www/

ExecStartPre=/bin/firewall-cmd --add-port=80/tcp
ExecStart=/usr/bin/python -m CGIHTTPServer 80
ExecStopPost=/bin/firewall-cmd --remove-port=80/tcp

[Install]
WantedBy=multi-user.target
